<div class="col-md-8">
  <form class="form-inline" id="filter">
    <div class="form-group">
      <label for="pwd">naziv:</label>
      <input
        [(ngModel)]="filterName"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        class="form-control"
        id="pwd"
      />
    </div>
    <button type="submit" class="btn btn-light" (click)="findByName()">
      filter
    </button>
  </form>
  <span class="button-fb">
    <button *ngIf="page !== 0" (click)="decreasePage()">
      <span class="glyphicon glyphicon-backward"></span>
    </button>
    <span>{{ this.appService.page }}</span>
    <button *ngIf="page !== totalPages" (click)="increasePage()">
      <span class="glyphicon glyphicon-forward"></span>
    </button>
  </span>
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>category</th>
        <th>price</th>
        <th *ngIf="logged">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of menuItems; let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.category.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <button
            *ngIf="logged"
            type="button"
            class="btn btn-danger"
            (click)="deleteMenuItem(item)"
          >
            delete
          </button>
          <button
            *ngIf="logged"
            (click)="updateItem(item)"
            type="button"
            class="btn btn-light"
          >
            update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-update *ngIf="logged" (updateView)="update()"></app-update>
